{% extends 'base.html' %}


{% block header %}
    {% block title %}xkcd{% endblock %}

    <!--suppress InconsistentLineSeparators -->
    <link rel="preload"
          href="{{ comic_image_url }}"
          as="image">

{% endblock %}


{% block body %}
    <h3>{{ comic_title }}</h3>
    <a href="{{ comic_url }}">
        <img src={{ comic_image_url }}
             title="{{ comic_alt_text }}"
             alt="{{ comic_title }}">  {# Make hidden click-down alt text#}
    </a>
    <p>Comic by Randall Munroe at <a href="{{ comic_url }}">xkcd.com</a></p>
    <div class="xkcd_form">
            <form method="post">
                {{ form.hidden_tag() }}
                {% if comic_number != 1 %}
                    {{ form.first }}
                    {{ form.previous }}
                    {#  Add some spacing in here to make select button purpose clear  #}
                {% endif %}
                {{ form.select_comic_number }}
                {{ form.comic_number_selected }}
                {% if comic_number != latest_comic_number %}
                    {#  Add some spacing in here to make select button purpose clear  #}
                    {{ form.next }}
                    {{ form.latest }}
                {% endif %}
        </form>
    </div>

{% endblock %}
