{% extends 'base.html' %}


{% block header %}
    {% block title %}xkcd - {{ comic_number }}: {{ comic_title }}{% endblock %}

    <!--suppress InconsistentLineSeparators -->
    <link rel="preload"
          href="{{ comic_image_url }}"
          as="image">

{% endblock %}


{% block body %}
    <h3>{{ comic_title }}</h3>
    <a href="{{ comic_url }}" target="_blank" rel="noreferrer">
        <img src={{ comic_image_url }}
             title="{{ comic_alt_text }}"
             alt="{{ comic_title }}">  {# Make hidden click-down alt text#}
    </a>
    <div class="xkcd_form">
            <form method="post">
                {{ form.hidden_tag() }}
                {% if comic_number != 1 %}
                    {{ form.first }}
                    {{ form.previous }}
                {% endif %}
                {{ form.select_comic_number(**{"onchange":"this.form.submit()"}) }}
                {% if comic_number != latest_comic_number %}
                    {{ form.next }}
                    {{ form.latest }}
                {% endif %}
        </form>
    </div>
    <p>Comic by Randall Munroe at <a href="{{ comic_url }}" target="_blank" rel="noreferrer">xkcd.com</a></p>

{% endblock %}
